/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

html {
  scroll-behavior: smooth;
}
.header {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.section1 {
  background: url("../images/bg.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 800px;
}
.first-header {
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/* SEARCH */
.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search {
  background-color: inherit;
  border: inherit;
  color: #ffff;
}
.search-txt {
  background-color: inherit;
  border: inherit;
  color: #ffff;
}

.fa-shopping-bag,
.fa-chevron-down {
  color: #ffff;
  font-size: 20px;
}
/* Second-header */

.table {
  width: 100%;
  border: solid 1px #ffff;
  border-left-style: none;
  border-right-style: none;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.title-div {
  max-width: 250px;
  width: 100%;
  border: solid 1px #ffff;
  border-bottom-style: none;
  border-top-style: none;
  height: 100%;
}
.nav-div {
  max-width: 500px;
  width: 100%;
}
.second-header-title {
  font-family: "Light";
  font-size: 23px;
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.navigation {
  margin: 22px;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.list {
  font-family: "Light";
  font-size: 20px;
  color: #ffff;
}

.social-div {
  max-width: 500px;
  width: 100%;
}
.social-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}
.fa-facebook-f,
.fa-instagram,
.fa-pinterest-p {
  color: #ffff;
  font-size: 20px;
  margin-left: 20px;
}
.active {
  color: grey;
}
.active:hover {
  border-bottom: solid 1px rgb(51, 49, 49);
}

/* section1 */
.titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.first-section-title1 {
  font-family: "Light";
  font-size: 48px;
  color: #ffff;
  text-align: center;
  margin-top: 350px;
}
.first-section-title2 {
  font-family: "SemiBoldItalic";
  font-size: 56px;
  color: #ffff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
}
/* BUTTON */
.btn {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.btn::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 5px);
  height: calc(100% - 12px);
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.btn:hover::before {
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
}
.btn::after {
  content: "";
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 5px);
  width: calc(100% - 12px);
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.btn:hover::after {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.btn,
.span {
  position: relative;
  z-index: 3;
}
.span {
  font-family: "Light";
  color: gray;
}
.btn:hover > .span {
  color: #ffff;
}
/* SECTION2 */

.section2 {
  background-color: #ffff;
  width: 100%;
  height: 800px;
  margin-bottom: 300px;
}
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  margin-bottom: 150px;
}
.section2-title {
  font-family: "LightItalic";
  font-size: 45px;
  color: black;
}
.section2-title::before,
.section2-title::after {
  display: inline-block;
  content: "";
  border-top: 1px solid black;
  width: 320px;
  margin: 15px 30px;
}
.section2-txt {
  max-width: 445px;
  width: 100%;
  font-family: "Light";
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  line-height: 30px;
}
/* slider */
.shop-div {
  width: 100%;
  height: auto;
}

.slider {
  position: relative;
  padding: 0 60px;
}
.slider__item {
  text-align: center;
}
.tea-img {
  max-width: 400px;
  height: auto;
  margin-bottom: 15px;
}
.tea-name {
  font-family: "LightItalic";
  font-size: 30px;
  margin-bottom: 15px;
}
.price {
  font-family: "Light";
  font-size: 20px;
  color: gray;
}
/* sssssssssssssssssssss */
.slider__item {
  display: block;
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.Quick-View {
  font-family: "Light";
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.tea-img- {
  display: block;
  width: 100%;
  height: auto;
}
.slider__item:hover .overlay {
  height: 100%;
}

.slick-list {
  overflow: hidden;
}
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0 0 0;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../images/left.svg") 0 0 /100%;
  background-repeat: no-repeat;
  border: none;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../images/right.svg") 0 0 /100%;
  background-repeat: no-repeat;
  border: none;
}
.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0 5px;
  margin-top: 25px;
  width: 30px;
}
.slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 13px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
}
.slider .slick-dots .slick-active button {
  background-color: rgb(209, 209, 209);
  border: 1px solid black;
}
/* button */

.shop-button {
  max-width: 100%;
  text-align: center;
  margin-top: 100px;
}
.shop-btn {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 300px;
}
.shop-span {
  font-family: "Light";
  color: grey;
  font-weight: 700;
  font-size: 20px;
}
.shop-btn::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 5px);
  height: calc(100% - 12px);
  background: white;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.shop-btn:hover::before {
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
}
.shop-btn::after {
  content: "";
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 5px);
  width: calc(100% - 12px);
  background: white;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.shop-btn:hover::after {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}
.shop-btn,
.shop-span {
  position: relative;
  z-index: 3;
}
.shop-btn:hover > .shop-span {
  color: black;
}
.shop-btn:hover {
  background-color: rgb(177, 177, 177);
}
/* section3 */

.section3 {
  background-image: url("../images/bg-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}
.ourstory {
  font-family: "LightItalic";
  font-size: 48px;
  color: #ffff;
}
.section3-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section3-title {
  font-family: "LightItalic";
  font-size: 36px;
  color: black;
  text-align: center;
  max-width: 980px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section3-title::before,
.section3-title::after {
  display: inline-block;
  content: "";
  border-top: 1px solid black;
  width: 220px;
  margin: 15px 30px;
}
.paragraphs {
  max-width: 980px;
  margin-top: 50px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.paragraph {
  font-family: "Light";
  font-size: 20px;
  max-width: 500px;
}
.paragraph:nth-child(2) {
  margin-top: 20px;
}
.paragraph:nth-child(3) {
  margin-bottom: 20px;
}
/* section4 */
.section4 {
  background-image: url("../images/bg-4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
}
.section4-section {
  background-color: rgb(40, 45, 66);
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-paragraph {
  font-family: "LightItalic";
  font-size: 25px;
  line-height: 50px;
  color: white;
  text-align: center;
}

.costumer {
  font-family: "Light";
  font-size: 25px;
  color: grey;
  text-align: center;
  margin-top: 30px;
}
.slider-blog {
  max-width: 500px;
  width: 100%;
  margin-top: 80px;
  
}
.slider-blog:hover{
  -webkit-animation: move 10s ease-out;
          animation: move 10s ease-out;
}

.second {
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 30px;
}

/* FOOTER */
.footer {
  background-color: rgb(219, 219, 219);
  padding-top: 100px;
}
.footer-div {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid 1px black;
}
.left-block {
  max-width: 400px;
  width: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 100px;
  margin-bottom: 70px;
}
.footer-title {
  font-family: "SemiBoldItalic";
  font-size: 40px;
  margin-bottom: 30px;
}
.footer-li {
  font-family: "Light";
  font-size: 25px;
  color: black;
  margin-bottom: 10px;
}
.visit {
  font-family: "Light";
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
  margin-top: 20px;
  text-decoration: underline;
}
.call {
  font-family: "Light";
  font-size: 20px;
  color: black;
}
.right-block {
  max-width: 500px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 70px;
}
.box-1 {
  margin-right: 50px;
  text-align: left;
}
.box-2 {
  max-width: 180px;
  width: 100%;
}

.box-title {
  font-family: "LightItalic";
  font-size: 25px;
  line-height: 50px;
  border-bottom: solid black 1px;
  margin-bottom: 30px;
}
.box-li {
  font-family: "Light";
  font-size: 20px;
  color: black;
  margin-bottom: 15px;
}
.form {
  max-width: 900px;
  width: 100%;
}
input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.5);
  height: 40px;
  max-width: 150px;
  width: 100%;
  text-align: center;
  font-family: "Light";
  color: #ffff;
}
input[type="email"] {
  max-width: 300px;
  width: 100%;
  height: 40px;
}
.submit:hover {
  background-color: rgb(40, 45, 66);
}
.small-footer {
  margin-top: 5px;
  border-top: black 2px solid;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.copyright {
  font-family: "Light";
  font-size: 22px;
  color: grey;
}
.up {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: grey;
}
.up:hover .fa-arrow-up{
  font-size: 30px;
}

@-webkit-keyframes move {
  0% { opacity: 50%;}
  100% { opacity: 100%;}
}

@keyframes move {
  0% { opacity: 50%;}
  100% { opacity: 100%;}
}
/* BURGER */

.container{
  display: none;
}

.hidden{
  display: none;
}
.toggle .bar1 {
	-webkit-transform: scale(0.9) rotate(-45deg) translate(-6px, 4px);
	    -ms-transform: scale(0.9) rotate(-45deg) translate(-6px, 4px);
	        transform: scale(0.9) rotate(-45deg) translate(-6px, 4px);
}
.toggle .bar2 {
	display: none;
}
.toggle .bar3 {
	-webkit-transform: scale(0.9) rotate(45deg) translate(-6px, -4px);
	    -ms-transform: scale(0.9) rotate(45deg) translate(-6px, -4px);
	        transform: scale(0.9) rotate(45deg) translate(-6px, -4px);
}
